#root {
  background-color: #f2f7f5;
  color: #2d334a;
}

h1 {
  color: #00473e;
}

header::after {
  background-color: #bae8e8;
}

.burger div {
  background-color: #bae8e8;
}
.all-content-nav {
  color: #2d334a;
}

@media screen and (max-width: 768px) {
  header {
    background: #272343;
    color: #fffffe;
  }

  .liAmin a:visited {
    color: #fffffe;
  }

  .photoName {
    color: #fffffe;
  }
  .intro {
    color: #fffffe;
  }
}
